In [188]:
import pandas as pd
import numpy as np
from sklearn import svm
import math

In [189]:
pd.set_option('display.max_rows', None)

In [190]:
##global variables
tz=7
tpr_by_fpr_min_thresh=0

tc=400
target_column_name='income'

In [191]:
data=pd.read_csv("datasets/adult.csv")
# data=data[:1000]

In [192]:
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [193]:
##encoding catagorical variables
data.shape

(32561, 15)

In [194]:
data['income'].replace(['<=50K', '>50K'],
                        [0, 1], inplace=True)

In [195]:
#getting all the column names 
# cols = data.columns
# num_cols = data._get_numeric_data().columns
# list_of_catagorical_vars=list(set(cols) - set(num_cols))
list_of_catagorical_vars=['workclass','education',
       'marital.status', 'occupation', 'relationship', 'race', 'sex', 'native.country',
]

In [196]:
from sklearn.preprocessing import LabelEncoder
encoded_to_orig_dict={}
for col_name in list_of_catagorical_vars:
    le = LabelEncoder()
    le.fit(data[col_name])
    data[col_name]=le.transform(data[col_name])
    

    encoded_to_orig_dict[col_name]= dict((v,k) for k,v in dict(zip(le.classes_, le.transform(le.classes_))).items())
# print(encoded_to_orig_dict)

In [197]:
encoded_to_orig_dict

{'workclass': {0: '?',
  1: 'Federal-gov',
  2: 'Local-gov',
  3: 'Never-worked',
  4: 'Private',
  5: 'Self-emp-inc',
  6: 'Self-emp-not-inc',
  7: 'State-gov',
  8: 'Without-pay'},
 'education': {0: '10th',
  1: '11th',
  2: '12th',
  3: '1st-4th',
  4: '5th-6th',
  5: '7th-8th',
  6: '9th',
  7: 'Assoc-acdm',
  8: 'Assoc-voc',
  9: 'Bachelors',
  10: 'Doctorate',
  11: 'HS-grad',
  12: 'Masters',
  13: 'Preschool',
  14: 'Prof-school',
  15: 'Some-college'},
 'marital.status': {0: 'Divorced',
  1: 'Married-AF-spouse',
  2: 'Married-civ-spouse',
  3: 'Married-spouse-absent',
  4: 'Never-married',
  5: 'Separated',
  6: 'Widowed'},
 'occupation': {0: '?',
  1: 'Adm-clerical',
  2: 'Armed-Forces',
  3: 'Craft-repair',
  4: 'Exec-managerial',
  5: 'Farming-fishing',
  6: 'Handlers-cleaners',
  7: 'Machine-op-inspct',
  8: 'Other-service',
  9: 'Priv-house-serv',
  10: 'Prof-specialty',
  11: 'Protective-serv',
  12: 'Sales',
  13: 'Tech-support',
  14: 'Transport-moving'},
 'relationship': {0: 'Husband',
  1: 'Not-in-family',
  2: 'Other-relative',
  3: 'Own-child',
  4: 'Unmarried',
  5: 'Wife'},
 'race': {0: 'Amer-Indian-Eskimo',
  1: 'Asian-Pac-Islander',
  2: 'Black',
  3: 'Other',
  4: 'White'},
 'sex': {0: 'Female', 1: 'Male'},
 'native.country': {0: '?',
  1: 'Cambodia',
  2: 'Canada',
  3: 'China',
  4: 'Columbia',
  5: 'Cuba',
  6: 'Dominican-Republic',
  7: 'Ecuador',
  8: 'El-Salvador',
  9: 'England',
  10: 'France',
  11: 'Germany',
  12: 'Greece',
  13: 'Guatemala',
  14: 'Haiti',
  15: 'Holand-Netherlands',
  16: 'Honduras',
  17: 'Hong',
  18: 'Hungary',
  19: 'India',
  20: 'Iran',
  21: 'Ireland',
  22: 'Italy',
  23: 'Jamaica',
  24: 'Japan',
  25: 'Laos',
  26: 'Mexico',
  27: 'Nicaragua',
  28: 'Outlying-US(Guam-USVI-etc)',
  29: 'Peru',
  30: 'Philippines',
  31: 'Poland',
  32: 'Portugal',
  33: 'Puerto-Rico',
  34: 'Scotland',
  35: 'South',
  36: 'Taiwan',
  37: 'Thailand',
  38: 'Trinadad&Tobago',
  39: 'United-States',
  40: 'Vietnam',
  41: 'Yugoslavia'}}

In [198]:
data.shape

(32561, 15)

In [199]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [200]:
traindt=data;
test=data[target_column_name]
traindt.drop(target_column_name,axis=1,inplace=True)

In [201]:
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(traindt,test, test_size=0.25) # 70% training and 30% test

In [202]:
clf = svm.SVC(kernel="linear") # Linear Kernel

In [203]:
clf.fit(X_train, y_train)

SVC(kernel='linear')

In [204]:
y_pred = clf.predict(X_test)

In [205]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8054293084387667

In [206]:
import seaborn as sns
import matplotlib.pyplot as plt

In [207]:
from sklearn.metrics import confusion_matrix

In [208]:
confusion_matrix(y_test,y_pred)

array([[6005,  255],
       [1329,  552]], dtype=int64)

In [209]:
test_df_final=pd.concat([X_test,y_test],axis=1)

In [210]:
all_test=pd.concat([X_train,y_train],axis=1)

In [211]:
all_test['Pred']=clf.predict(X_train)

In [212]:
true_predictions=all_test.loc[all_test[target_column_name]==all_test['Pred']]
true_positive_predictions=true_predictions.loc[true_predictions['Pred']==1]
# true_positive_predictions
true_negative_predictons=true_predictions.loc[true_predictions['Pred']==0]

In [213]:
true_positive_predictions.drop('Pred',axis=1,inplace=True)
true_negative_predictons.drop('Pred',axis=1,inplace=True)

c:\Users\acer\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

<H1>3.Deleting features with 0 variance</H1>

In [214]:
true_predictions_x=true_predictions.drop([target_column_name,'Pred'],axis=1)
true_predictions_y=true_predictions[target_column_name]

In [215]:
true_predictions_x= true_predictions_x.loc[:, (true_predictions_x != true_predictions_x.iloc[0]).any()]

In [216]:
list_of_features_with_non_0_var=list(true_predictions_x.columns)
list_of_features_with_non_0_var

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education.num',
 'marital.status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital.gain',
 'capital.loss',
 'hours.per.week',
 'native.country']

In [217]:
true_negative_predictons.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [218]:
list_of_features_with_non_0_var

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education.num',
 'marital.status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital.gain',
 'capital.loss',
 'hours.per.week',
 'native.country']

In [219]:
true_negative_predictons=true_negative_predictons[list_of_features_with_non_0_var+[target_column_name]]
true_positive_predictions=true_positive_predictions[list_of_features_with_non_0_var+[target_column_name]]

<h1>4.For each feature, compute the means for STP  and STN.</h1>

In [220]:

column_mean_for_STP_dict={}
column_mean_for_STN_dict={}
column_std_for_STP_dict={}
column_std_for_STN_dict={}
for column_name in list_of_features_with_non_0_var:
    if column_name not in list_of_catagorical_vars:
        print(column_name)
        column_mean_for_STP_dict[column_name]=true_positive_predictions[column_name].mean()
        column_mean_for_STN_dict[column_name]=true_negative_predictons[column_name].mean()
        column_std_for_STN_dict[column_name]=true_positive_predictions[column_name].std()
        column_std_for_STP_dict[column_name]=true_negative_predictons[column_name].std()

age
fnlwgt
education.num
capital.gain
capital.loss
hours.per.week

In [221]:
column_mean_for_STN_dict

{'age': 36.07892340958234,
 'fnlwgt': 194908.58000455218,
 'education.num': 9.554739956754297,
 'capital.gain': 77.94964151587573,
 'capital.loss': 34.26163650847843,
 'hours.per.week': 38.21981336064641}

In [222]:
column_mean_for_STP_dict

{'age': 47.01696770662288,
 'fnlwgt': 152354.75205254517,
 'education.num': 12.145593869731801,
 'capital.gain': 12310.059113300493,
 'capital.loss': 440.83415435139574,
 'hours.per.week': 48.24356869184455}

In [223]:
column_std_for_STN_dict

{'age': 11.299237487506229,
 'fnlwgt': 87213.64747708164,
 'education.num': 2.384836180817895,
 'capital.gain': 23227.346154381783,
 'capital.loss': 846.8913629827823,
 'hours.per.week': 12.666084197588429}

In [224]:

column_std_for_STP_dict

{'age': 13.707356616224923,
 'fnlwgt': 106420.10771253497,
 'education.num': 2.425124567432364,
 'capital.gain': 504.11843283369075,
 'capital.loss': 242.6964437712887,
 'hours.per.week': 11.668981609052212}

<h1>6.Compute the Z for the difference between the two means computed in step 5, and define the set of most discriminative features F as those with ðZ > tz Þ.</h1>

In [225]:
num_of_samples_in_STP=len(true_positive_predictions.columns)
num_of_samples_in_STN=len(true_negative_predictons.columns)

In [226]:
def getZmeanDiff(columnName):
    num=column_mean_for_STN_dict[column_name]+column_mean_for_STP_dict[column_name]
    dnum=((column_std_for_STN_dict[column_name]**2)/num_of_samples_in_STN)+((column_mean_for_STP_dict[column_name]**2)/num_of_samples_in_STP)
    dnum=math.sqrt(dnum)
    return num/dnum

In [227]:
from math import exp
from sklearn.utils import resample


def getChiSquaredTest(columnName):
    expected_dict={}
    obs_dict={}
    unique_val_in_stp=list(true_positive_predictions[column_name].unique())
    unique_val_in_stn=list(true_negative_predictons[col_name].unique())
    # print(unique_val_in_stp," ",unique_val_in_stn)
    obs_freq={}
    exp_freq={}
    for val in (unique_val_in_stn+ unique_val_in_stp) :
        obs_freq[val]=0
        exp_freq[val]=0
    # print(obs_freq)
    # print(exp_freq)
    tndict=pd.value_counts(true_negative_predictons[col_name]).to_dict()
    tpdict=pd.value_counts(true_positive_predictions[col_name]).to_dict()
    res=0
    # print("Res:",res)
    # print(obs_freq.keys())
    # print(exp_freq.keys())
    for val in (unique_val_in_stn+unique_val_in_stp):
        if val in tpdict.keys():
            obs_freq[val]=(tpdict[val]/ true_positive_predictions.shape[1])
        if val in tndict.keys():
            exp_freq[val]=(tndict[val]/ true_negative_predictons.shape[1])
        # print(obs_dic/t[val])
        # print(exp_)
        if exp_freq[val]==0:
            exp_freq[val]=0.2
        res+=((obs_freq[val]-exp_freq[val])**2)/exp_freq[val]
    return res

In [228]:
list_of_features_with_non_0_var

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education.num',
 'marital.status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital.gain',
 'capital.loss',
 'hours.per.week',
 'native.country']

In [229]:
# getChiSquaredTest('education')

In [230]:
Z_diff_btw_two_means_dict={}
chi_squared_dict={}
for column_name in list_of_features_with_non_0_var:
    # print("cn:",column_name)
    if column_name not in list_of_catagorical_vars:
        Z_diff_btw_two_means_dict[column_name]=getZmeanDiff(column_name)
    else:
        chi_squared_dict[column_name]=getChiSquaredTest(column_name)

In [231]:
Z_diff_btw_two_means_dict

{'age': 6.655459332724423,
 'fnlwgt': 7.661273877974568,
 'education.num': 6.790137357624858,
 'capital.gain': 1.8251278342886872,
 'capital.loss': 1.9272331008519688,
 'hours.per.week': 6.713729922765618}

In [232]:
chi_squared_dict

{'workclass': 971.672486300583,
 'education': 987.185342178455,
 'marital.status': 972.4768634049601,
 'occupation': 987.0592815723944,
 'relationship': 969.0089621703922,
 'race': 965.6041136855438,
 'sex': 957.8039790054091,
 'native.country': 1868.3169875466826}

In [233]:
F=[]#
for column_name in list_of_features_with_non_0_var:
    if( column_name not in list_of_catagorical_vars and  Z_diff_btw_two_means_dict[column_name]>=tz):
        F+=[column_name]
    elif (column_name in list_of_catagorical_vars and chi_squared_dict[col_name]>=tc):
        F+=[column_name]

In [234]:

F

['workclass',
 'fnlwgt',
 'education',
 'marital.status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native.country']

In [235]:
len(F)

9

<h1> 7.For each feature fi  F, find the threshold ðaibÞ that gives best TPR to FPR ratio over both STP and STN together. </h1>

In [236]:
def get_tpr_to_fpr_ratio(df,column_name,thresh,target_column_name, iscategorical=0):
    tp=0
    fp=0
    fn=0
    tn=0
    if iscategorical==0:
        for index,row in df.iterrows():
            if(row[column_name]>=thresh):
                if(row[target_column_name]==1):
                    tp+=1
                else:
                    fp+=1
            else:
                if(row[target_column_name]==0):
                    tn+=1
                else:
                    fn+=1
    else:
        for index,row in df.iterrows():
            if(row[column_name]==thresh):
                if(row[target_column_name]==1):
                    tp+=1
                else:
                    fp+=1
            else:
                if(row[target_column_name]==0):
                    tn+=1
                else:
                    fn+=1

    tpr=tp/(fn+tp)
    fpr=fp/(fn+tp)
    if fpr==0:
        fpr=10000000
    # print("TPR:",tpr," Fpr:",fpr)
    return tpr/fpr

        
   
def get_aib_for_feature(column_name,df,step,target_column_name):
    myet=0
    aib=-1
    start_val=int(math.floor(df[column_name].min()))
    end_val=int(math.ceil(df[column_name].max()))
    step=max(1,int((end_val-start_val)/200))
    for poss_thres in range(start_val,end_val,step):
        val=get_tpr_to_fpr_ratio(df,column_name,poss_thres,target_column_name)
        # print("for thresh:",poss_thres," val:",val,"myet:", myet)
        if(myet<val):
            aib=poss_thres
            myet=val
    return aib

In [237]:
# def get_tpr_to_fpr_ratio(df,column_name,val,target_column_name):
def get_aib_for_cat_feature(column_name,df,target_column_name):
    local_dict={}
    for value in df[column_name].unique():
        local_dict[(column_name,value)]=get_tpr_to_fpr_ratio(df,column_name,value,target_column_name,iscategorical=1)
    return local_dict

In [238]:
from tqdm import tqdm
# tempf=['Pregnancies']
aib_dict_for_F={}
aib_dict_for_cat_F={}
best_tpr_by_fpr_for_feature={}
for column_name in tqdm(F):
    if column_name not in list_of_catagorical_vars:
        aib_dict_for_F[column_name]=get_aib_for_feature(column_name,true_predictions,1,target_column_name)
        best_tpr_by_fpr_for_feature[column_name]=get_tpr_to_fpr_ratio(true_predictions,column_name,aib_dict_for_F[column_name],target_column_name)
    else :
        temp_dict=get_aib_for_cat_feature(column_name,true_predictions,target_column_name)
        aib_dict_for_cat_F.update(temp_dict)
        best_tpr_by_fpr_for_feature.update(temp_dict)

100%|██████████| 9/9 [03:38<00:00, 24.29s/it]

In [239]:
aib_dict_for_cat_F

{('workclass', 4): 0.08312421580928482,
 ('workclass', 0): 0.040697674418604654,
 ('workclass', 6): 0.17206982543640897,
 ('workclass', 5): 0.6993865030674847,
 ('workclass', 2): 0.11584158415841586,
 ('workclass', 7): 0.1313755795981453,
 ('workclass', 8): 0.0,
 ('workclass', 1): 0.1937799043062201,
 ('workclass', 3): 0.0,
 ('education', 2): 0.02711864406779661,
 ('education', 11): 0.04956314535345513,
 ('education', 7): 0.08858603066439522,
 ('education', 9): 0.24640371229698377,
 ('education', 12): 0.5801217038539555,
 ('education', 1): 0.019753086419753086,
 ('education', 15): 0.061722600328561375,
 ('education', 0): 0.01282051282051282,
 ('education', 8): 0.08948863636363637,
 ('education', 3): 0.00806451612903226,
 ('education', 5): 0.011709601873536299,
 ('education', 14): 1.5504587155963303,
 ('education', 6): 0.005698005698005698,
 ('education', 4): 0.012875536480686695,
 ('education', 10): 1.588235294117647,
 ('education', 13): 0.0,
 ('marital.status', 4): 0.019451105782041036,
 ('marital.status', 0): 0.048543689320388356,
 ('marital.status', 2): 0.2604953451607237,
 ('marital.status', 1): 0.16666666666666669,
 ('marital.status', 6): 0.05263157894736841,
 ('marital.status', 3): 0.026119402985074626,
 ('marital.status', 5): 0.031746031746031744,
 ('occupation', 1): 0.03754855416486836,
 ('occupation', 0): 0.04052936311000827,
 ('occupation', 13): 0.11827956989247311,
 ('occupation', 10): 0.3176546391752577,
 ('occupation', 4): 0.3750860289057123,
 ('occupation', 12): 0.11993687532877433,
 ('occupation', 6): 0.014462809917355372,
 ('occupation', 3): 0.06766917293233082,
 ('occupation', 14): 0.07692307692307691,
 ('occupation', 7): 0.02857142857142857,
 ('occupation', 8): 0.00989247311827957,
 ('occupation', 11): 0.0981012658227848,
 ('occupation', 5): 0.07867132867132867,
 ('occupation', 9): 0.01,
 ('occupation', 2): 0.0,
 ('relationship', 3): 0.004600811907983762,
 ('relationship', 1): 0.047396028475084305,
 ('relationship', 0): 0.2696088264794383,
 ('relationship', 5): 0.22336769759450173,
 ('relationship', 2): 0.020588235294117647,
 ('relationship', 4): 0.03007846556233653,
 ('race', 4): 0.11372148450800136,
 ('race', 2): 0.035768261964735516,
 ('race', 1): 0.1270718232044199,
 ('race', 3): 0.041176470588235294,
 ('race', 0): 0.05235602094240838,
 ('sex', 0): 0.03838910618571635,
 ('sex', 1): 0.1463780339237185,
 ('native.country', 39): 0.10799537987679672,
 ('native.country', 2): 0.12727272727272726,
 ('native.country', 11): 0.14492753623188404,
 ('native.country', 26): 0.0087527352297593,
 ('native.country', 0): 0.1329113924050633,
 ('native.country', 27): 0.0,
 ('native.country', 30): 0.11764705882352941,
 ('native.country', 19): 0.275,
 ('native.country', 13): 0.0,
 ('native.country', 31): 0.02564102564102564,
 ('native.country', 6): 0.01851851851851852,
 ('native.country', 35): 0.1276595744680851,
 ('native.country', 33): 0.04477611940298507,
 ('native.country', 28): 0.0,
 ('native.country', 8): 0.04285714285714286,
 ('native.country', 12): 0.18181818181818182,
 ('native.country', 40): 0.05,
 ('native.country', 14): 0.0,
 ('native.country', 4): 0.0,
 ('native.country', 32): 0.04347826086956522,
 ('native.country', 37): 0.0,
 ('native.country', 22): 0.1142857142857143,
 ('native.country', 38): 0.09090909090909091,
 ('native.country', 36): 0.24,
 ('native.country', 23): 0.0392156862745098,
 ('native.country', 5): 0.03636363636363636,
 ('native.country', 3): 0.05555555555555556,
 ('native.country', 9): 0.0975609756097561,
 ('native.country', 25): 0.0,
 ('native.country', 16): 0.09090909090909091,
 ('native.country', 1): 0.1,
 ('native.country', 24): 0.19999999999999998,
 ('native.country', 20): 0.2105263157894737,
 ('native.country', 10): 0.125,
 ('native.country', 18): 0.16666666666666669,
 ('native.country', 29): 0.0,
 ('native.country', 17): 0.0,
 ('native.country', 21): 0.0,
 ('native.country', 7): 0.045454545454545456,
 ('native.country', 41): 0.11111111111111112,
 ('native.country', 34): 0.2}

In [240]:
aib_dict_for_F

{'fnlwgt': 12285}

In [241]:
best_tpr_by_fpr_for_feature

{('workclass', 4): 0.08312421580928482,
 ('workclass', 0): 0.040697674418604654,
 ('workclass', 6): 0.17206982543640897,
 ('workclass', 5): 0.6993865030674847,
 ('workclass', 2): 0.11584158415841586,
 ('workclass', 7): 0.1313755795981453,
 ('workclass', 8): 0.0,
 ('workclass', 1): 0.1937799043062201,
 ('workclass', 3): 0.0,
 'fnlwgt': 0.10396039603960397,
 ('education', 2): 0.02711864406779661,
 ('education', 11): 0.04956314535345513,
 ('education', 7): 0.08858603066439522,
 ('education', 9): 0.24640371229698377,
 ('education', 12): 0.5801217038539555,
 ('education', 1): 0.019753086419753086,
 ('education', 15): 0.061722600328561375,
 ('education', 0): 0.01282051282051282,
 ('education', 8): 0.08948863636363637,
 ('education', 3): 0.00806451612903226,
 ('education', 5): 0.011709601873536299,
 ('education', 14): 1.5504587155963303,
 ('education', 6): 0.005698005698005698,
 ('education', 4): 0.012875536480686695,
 ('education', 10): 1.588235294117647,
 ('education', 13): 0.0,
 ('marital.status', 4): 0.019451105782041036,
 ('marital.status', 0): 0.048543689320388356,
 ('marital.status', 2): 0.2604953451607237,
 ('marital.status', 1): 0.16666666666666669,
 ('marital.status', 6): 0.05263157894736841,
 ('marital.status', 3): 0.026119402985074626,
 ('marital.status', 5): 0.031746031746031744,
 ('occupation', 1): 0.03754855416486836,
 ('occupation', 0): 0.04052936311000827,
 ('occupation', 13): 0.11827956989247311,
 ('occupation', 10): 0.3176546391752577,
 ('occupation', 4): 0.3750860289057123,
 ('occupation', 12): 0.11993687532877433,
 ('occupation', 6): 0.014462809917355372,
 ('occupation', 3): 0.06766917293233082,
 ('occupation', 14): 0.07692307692307691,
 ('occupation', 7): 0.02857142857142857,
 ('occupation', 8): 0.00989247311827957,
 ('occupation', 11): 0.0981012658227848,
 ('occupation', 5): 0.07867132867132867,
 ('occupation', 9): 0.01,
 ('occupation', 2): 0.0,
 ('relationship', 3): 0.004600811907983762,
 ('relationship', 1): 0.047396028475084305,
 ('relationship', 0): 0.2696088264794383,
 ('relationship', 5): 0.22336769759450173,
 ('relationship', 2): 0.020588235294117647,
 ('relationship', 4): 0.03007846556233653,
 ('race', 4): 0.11372148450800136,
 ('race', 2): 0.035768261964735516,
 ('race', 1): 0.1270718232044199,
 ('race', 3): 0.041176470588235294,
 ('race', 0): 0.05235602094240838,
 ('sex', 0): 0.03838910618571635,
 ('sex', 1): 0.1463780339237185,
 ('native.country', 39): 0.10799537987679672,
 ('native.country', 2): 0.12727272727272726,
 ('native.country', 11): 0.14492753623188404,
 ('native.country', 26): 0.0087527352297593,
 ('native.country', 0): 0.1329113924050633,
 ('native.country', 27): 0.0,
 ('native.country', 30): 0.11764705882352941,
 ('native.country', 19): 0.275,
 ('native.country', 13): 0.0,
 ('native.country', 31): 0.02564102564102564,
 ('native.country', 6): 0.01851851851851852,
 ('native.country', 35): 0.1276595744680851,
 ('native.country', 33): 0.04477611940298507,
 ('native.country', 28): 0.0,
 ('native.country', 8): 0.04285714285714286,
 ('native.country', 12): 0.18181818181818182,
 ('native.country', 40): 0.05,
 ('native.country', 14): 0.0,
 ('native.country', 4): 0.0,
 ('native.country', 32): 0.04347826086956522,
 ('native.country', 37): 0.0,
 ('native.country', 22): 0.1142857142857143,
 ('native.country', 38): 0.09090909090909091,
 ('native.country', 36): 0.24,
 ('native.country', 23): 0.0392156862745098,
 ('native.country', 5): 0.03636363636363636,
 ('native.country', 3): 0.05555555555555556,
 ('native.country', 9): 0.0975609756097561,
 ('native.country', 25): 0.0,
 ('native.country', 16): 0.09090909090909091,
 ('native.country', 1): 0.1,
 ('native.country', 24): 0.19999999999999998,
 ('native.country', 20): 0.2105263157894737,
 ('native.country', 10): 0.125,
 ('native.country', 18): 0.16666666666666669,
 ('native.country', 29): 0.0,
 ('native.country', 17): 0.0,
 ('native.country', 21): 0.0,
 ('native.country', 7): 0.045454545454545456,
 ('native.country', 41): 0.11111111111111112,
 ('native.country', 34): 0.2}

<h1>8.Rank the features based on the values of the TPR to FPR ratio computed in step 7.</h1>

In [242]:
ranked_best_tpr_by_fpr_features=sorted(best_tpr_by_fpr_for_feature, key=lambda k: best_tpr_by_fpr_for_feature[k],reverse=True)

In [243]:
ranked_best_tpr_by_fpr_features

[('education', 10),
 ('education', 14),
 ('workclass', 5),
 ('education', 12),
 ('occupation', 4),
 ('occupation', 10),
 ('native.country', 19),
 ('relationship', 0),
 ('marital.status', 2),
 ('education', 9),
 ('native.country', 36),
 ('relationship', 5),
 ('native.country', 20),
 ('native.country', 34),
 ('native.country', 24),
 ('workclass', 1),
 ('native.country', 12),
 ('workclass', 6),
 ('marital.status', 1),
 ('native.country', 18),
 ('sex', 1),
 ('native.country', 11),
 ('native.country', 0),
 ('workclass', 7),
 ('native.country', 35),
 ('native.country', 2),
 ('race', 1),
 ('native.country', 10),
 ('occupation', 12),
 ('occupation', 13),
 ('native.country', 30),
 ('workclass', 2),
 ('native.country', 22),
 ('race', 4),
 ('native.country', 41),
 ('native.country', 39),
 'fnlwgt',
 ('native.country', 1),
 ('occupation', 11),
 ('native.country', 9),
 ('native.country', 38),
 ('native.country', 16),
 ('education', 8),
 ('education', 7),
 ('workclass', 4),
 ('occupation', 5),
 ('occupation', 14),
 ('occupation', 3),
 ('education', 15),
 ('native.country', 3),
 ('marital.status', 6),
 ('race', 0),
 ('native.country', 40),
 ('education', 11),
 ('marital.status', 0),
 ('relationship', 1),
 ('native.country', 7),
 ('native.country', 33),
 ('native.country', 32),
 ('native.country', 8),
 ('race', 3),
 ('workclass', 0),
 ('occupation', 0),
 ('native.country', 23),
 ('sex', 0),
 ('occupation', 1),
 ('native.country', 5),
 ('race', 2),
 ('marital.status', 5),
 ('relationship', 4),
 ('occupation', 7),
 ('education', 2),
 ('marital.status', 3),
 ('native.country', 31),
 ('relationship', 2),
 ('education', 1),
 ('marital.status', 4),
 ('native.country', 6),
 ('occupation', 6),
 ('education', 4),
 ('education', 0),
 ('education', 5),
 ('occupation', 9),
 ('occupation', 8),
 ('native.country', 26),
 ('education', 3),
 ('education', 6),
 ('relationship', 3),
 ('workclass', 8),
 ('workclass', 3),
 ('education', 13),
 ('occupation', 2),
 ('native.country', 27),
 ('native.country', 13),
 ('native.country', 28),
 ('native.country', 14),
 ('native.country', 4),
 ('native.country', 37),
 ('native.country', 25),
 ('native.country', 29),
 ('native.country', 17),
 ('native.country', 21)]

<h1>9.For each feature fi from the ranked list in step 8, formulate a rule ri with fi and the corresponding threshold aib in the same order as that determined in step 8.</h1>

In [244]:
all_rule_list=[]
for value in ranked_best_tpr_by_fpr_features:
    
    if type(value) is not tuple:
        temp_dict={
            "column_name":value,
            "sign":">",
            "thresh":aib_dict_for_F[value]
        }
    else :
        temp_dict={
            "column_name":value[0],
            "sign":"==",
            "thresh":value[1]
        }

    all_rule_list.append(temp_dict)
all_rule_list

[{'column_name': 'education', 'sign': '==', 'thresh': 10},
 {'column_name': 'education', 'sign': '==', 'thresh': 14},
 {'column_name': 'workclass', 'sign': '==', 'thresh': 5},
 {'column_name': 'education', 'sign': '==', 'thresh': 12},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 4},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 10},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 19},
 {'column_name': 'relationship', 'sign': '==', 'thresh': 0},
 {'column_name': 'marital.status', 'sign': '==', 'thresh': 2},
 {'column_name': 'education', 'sign': '==', 'thresh': 9},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 36},
 {'column_name': 'relationship', 'sign': '==', 'thresh': 5},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 20},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 34},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 24},
 {'column_name': 'workclass', 'sign': '==', 'thresh': 1},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 12},
 {'column_name': 'workclass', 'sign': '==', 'thresh': 6},
 {'column_name': 'marital.status', 'sign': '==', 'thresh': 1},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 18},
 {'column_name': 'sex', 'sign': '==', 'thresh': 1},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 11},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 0},
 {'column_name': 'workclass', 'sign': '==', 'thresh': 7},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 35},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 2},
 {'column_name': 'race', 'sign': '==', 'thresh': 1},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 10},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 12},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 13},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 30},
 {'column_name': 'workclass', 'sign': '==', 'thresh': 2},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 22},
 {'column_name': 'race', 'sign': '==', 'thresh': 4},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 41},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 39},
 {'column_name': 'fnlwgt', 'sign': '>', 'thresh': 12285},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 1},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 11},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 9},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 38},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 16},
 {'column_name': 'education', 'sign': '==', 'thresh': 8},
 {'column_name': 'education', 'sign': '==', 'thresh': 7},
 {'column_name': 'workclass', 'sign': '==', 'thresh': 4},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 5},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 14},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 3},
 {'column_name': 'education', 'sign': '==', 'thresh': 15},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 3},
 {'column_name': 'marital.status', 'sign': '==', 'thresh': 6},
 {'column_name': 'race', 'sign': '==', 'thresh': 0},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 40},
 {'column_name': 'education', 'sign': '==', 'thresh': 11},
 {'column_name': 'marital.status', 'sign': '==', 'thresh': 0},
 {'column_name': 'relationship', 'sign': '==', 'thresh': 1},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 7},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 33},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 32},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 8},
 {'column_name': 'race', 'sign': '==', 'thresh': 3},
 {'column_name': 'workclass', 'sign': '==', 'thresh': 0},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 0},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 23},
 {'column_name': 'sex', 'sign': '==', 'thresh': 0},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 1},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 5},
 {'column_name': 'race', 'sign': '==', 'thresh': 2},
 {'column_name': 'marital.status', 'sign': '==', 'thresh': 5},
 {'column_name': 'relationship', 'sign': '==', 'thresh': 4},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 7},
 {'column_name': 'education', 'sign': '==', 'thresh': 2},
 {'column_name': 'marital.status', 'sign': '==', 'thresh': 3},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 31},
 {'column_name': 'relationship', 'sign': '==', 'thresh': 2},
 {'column_name': 'education', 'sign': '==', 'thresh': 1},
 {'column_name': 'marital.status', 'sign': '==', 'thresh': 4},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 6},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 6},
 {'column_name': 'education', 'sign': '==', 'thresh': 4},
 {'column_name': 'education', 'sign': '==', 'thresh': 0},
 {'column_name': 'education', 'sign': '==', 'thresh': 5},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 9},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 8},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 26},
 {'column_name': 'education', 'sign': '==', 'thresh': 3},
 {'column_name': 'education', 'sign': '==', 'thresh': 6},
 {'column_name': 'relationship', 'sign': '==', 'thresh': 3},
 {'column_name': 'workclass', 'sign': '==', 'thresh': 8},
 {'column_name': 'workclass', 'sign': '==', 'thresh': 3},
 {'column_name': 'education', 'sign': '==', 'thresh': 13},
 {'column_name': 'occupation', 'sign': '==', 'thresh': 2},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 27},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 13},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 28},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 14},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 4},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 37},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 25},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 29},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 17},
 {'column_name': 'native.country', 'sign': '==', 'thresh': 21}]

In [245]:
def isRuleSatisfied(rule_list,row):
    for rule in rule_list:
        cname=rule['column_name']
        if rule['sign']=='>':
            if row[cname]<=rule['thresh']:
                return False
        elif rule['sign']=='==':
            if row[cname]!=rule['thresh']:
                return False
    return True

 <h1>10.Starting with the first rule, compute the TPR from all STP that are correctly classified by that rule, as well as the FPR from all STN covered by this rule.</h1>

In [246]:
def get_tpr_by_fpr_for_rule_list(rule_list,df,target_column_name):
    tp=0
    tn=0
    fp=0
    fn=0
    for index,row in df.iterrows():
        
        if(isRuleSatisfied(rule_list,row)):
            if(row[target_column_name]==1):
                tp+=1
            else:
                fp+=1
        else:
            if(row[target_column_name]==0):
                tn+=1
            else:
                fn+=1
    tpr=0
    fpr=0
    if tp+fp==0:
        tpr=tp/0.1
    else:
        tpr=tp/(fn+tp)
    if fn+tp==0:
        fpr=fp/0.1
    else:
        fpr=fp/(fn+tp)
    # print("tp:",tp," fp:",fp," tn:",tn," fn:",fn,"TPR:",tpr," Fpr:",fpr)
    if fpr==0:
        return (tpr/2000000,0)
   
    return (tpr/fpr,fpr)

In [247]:
final_rule_list=[]

In [248]:
# def add_rule_rec(df,all_rule_list,pres_ind,pres_rule_list,last_tpr_by_fpr_ratio,target_column_name):
def delete_rows_satisfying_rule(df,rule_list,target_column_name):
    list_of_ind_to_drop=[]
    ind=0
    for index,row in df.iterrows():
        # print("ind:",index)
    
        if(isRuleSatisfied(rule_list,row)):
            if(row[target_column_name]==1):
                list_of_ind_to_drop+=[ind]
        else:
            if(row[target_column_name]==0):
                list_of_ind_to_drop+=[ind]
        ind+=1
    df.drop(df.index[[list_of_ind_to_drop]],inplace=True)
    return df

In [249]:
result_rule_list=[]
df=true_predictions.copy()
for init_rule_ind in tqdm(range(0,len(all_rule_list))):
    init_rule_list=[all_rule_list[init_rule_ind]]
    (init_tpr_by_fpr,_)=get_tpr_by_fpr_for_rule_list(init_rule_list,df,target_column_name)
    # print("rule list:", init_rule_list)
    # print("tpr/fppr:",init_tpr_by_fpr)
    # print("df shape::",df.shape)
    new_rule_list=init_rule_list.copy()
    last_ratio=tpr_by_fpr_min_thresh
    vis=[0]*len(all_rule_list)
    vis[init_rule_ind]=1
    max_tpr_fpr_ratio=init_tpr_by_fpr
    max_tpr_fpr_ratio_ind=-1
    while get_tpr_by_fpr_for_rule_list(new_rule_list,df,target_column_name)[0]> last_ratio:
        init_rule_list=new_rule_list
        max_tpr_fpr_ratio=0
        max_tpr_fpr_ratio_ind=-1
        for new_rule_ind in range(len(all_rule_list)):
            if(vis[new_rule_ind]==1):
                continue
            temp_new_rule_list=new_rule_list.copy()
            temp_new_rule_list+=[all_rule_list[new_rule_ind]]
            (new_tpr_by_fpr,fpr_for_list)=get_tpr_by_fpr_for_rule_list(temp_new_rule_list,df,target_column_name)
            # print("for ind:",new_rule_ind, "new rat:",new_tpr_by_fpr," fpr_for_list:",fpr_for_list)
            if new_tpr_by_fpr>max_tpr_fpr_ratio and fpr_for_list!=0:
                max_tpr_fpr_ratio=new_tpr_by_fpr
                max_tpr_fpr_ratio_ind=new_rule_ind
        # print("new tpr/fpr",max_tpr_fpr_ratio)
        if max_tpr_fpr_ratio_ind==-1:
            break
        # if max_tpr_fpr_ratio>tpr_by_fpr_min_thresh:
        
        vis[max_tpr_fpr_ratio_ind]=1
        new_rule_list+=[all_rule_list[max_tpr_fpr_ratio_ind]]
        
    # print( "init rule list:",init_rule_list)
    result_rule_list.append(init_rule_list)
    #removing rows from df which are already classified
    # if max_tpr_fpr_ratio_ind==-1:
    #     continue
    df=delete_rows_satisfying_rule(df,new_rule_list,target_column_name)
    # print("df shape:",df.shape)

  0%|          | 0/102 [00:00<?, ?it/s]c:\Users\acer\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)
100%|██████████| 102/102 [10:45<00:00,  6.33s/it]

In [250]:
result_rule_list

[[{'column_name': 'education', 'sign': '==', 'thresh': 10},
  {'column_name': 'occupation', 'sign': '==', 'thresh': 4},
  {'column_name': 'workclass', 'sign': '==', 'thresh': 4},
  {'column_name': 'fnlwgt', 'sign': '>', 'thresh': 12285},
  {'column_name': 'marital.status', 'sign': '==', 'thresh': 2},
  {'column_name': 'race', 'sign': '==', 'thresh': 4},
  {'column_name': 'native.country', 'sign': '==', 'thresh': 39},
  {'column_name': 'relationship', 'sign': '==', 'thresh': 0},
  {'column_name': 'sex', 'sign': '==', 'thresh': 1}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 14}],
 [{'column_name': 'workclass', 'sign': '==', 'thresh': 5}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 12}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 4}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 10}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 19}],
 [{'column_name': 'relationship', 'sign': '==', 'thresh': 0}],
 [{'column_name': 'marital.status', 'sign': '==', 'thresh': 2}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 9}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 36}],
 [{'column_name': 'relationship', 'sign': '==', 'thresh': 5}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 20}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 34}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 24}],
 [{'column_name': 'workclass', 'sign': '==', 'thresh': 1}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 12}],
 [{'column_name': 'workclass', 'sign': '==', 'thresh': 6}],
 [{'column_name': 'marital.status', 'sign': '==', 'thresh': 1}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 18}],
 [{'column_name': 'sex', 'sign': '==', 'thresh': 1}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 11}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 0}],
 [{'column_name': 'workclass', 'sign': '==', 'thresh': 7}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 35}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 2}],
 [{'column_name': 'race', 'sign': '==', 'thresh': 1}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 10}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 12}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 13}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 30}],
 [{'column_name': 'workclass', 'sign': '==', 'thresh': 2}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 22}],
 [{'column_name': 'race', 'sign': '==', 'thresh': 4}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 41}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 39}],
 [{'column_name': 'fnlwgt', 'sign': '>', 'thresh': 12285}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 1}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 11}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 9}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 38}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 16}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 8}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 7}],
 [{'column_name': 'workclass', 'sign': '==', 'thresh': 4}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 5}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 14}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 3}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 15}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 3}],
 [{'column_name': 'marital.status', 'sign': '==', 'thresh': 6}],
 [{'column_name': 'race', 'sign': '==', 'thresh': 0}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 40}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 11}],
 [{'column_name': 'marital.status', 'sign': '==', 'thresh': 0}],
 [{'column_name': 'relationship', 'sign': '==', 'thresh': 1}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 7}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 33}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 32}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 8}],
 [{'column_name': 'race', 'sign': '==', 'thresh': 3}],
 [{'column_name': 'workclass', 'sign': '==', 'thresh': 0}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 0}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 23}],
 [{'column_name': 'sex', 'sign': '==', 'thresh': 0}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 1}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 5}],
 [{'column_name': 'race', 'sign': '==', 'thresh': 2}],
 [{'column_name': 'marital.status', 'sign': '==', 'thresh': 5}],
 [{'column_name': 'relationship', 'sign': '==', 'thresh': 4}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 7}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 2}],
 [{'column_name': 'marital.status', 'sign': '==', 'thresh': 3}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 31}],
 [{'column_name': 'relationship', 'sign': '==', 'thresh': 2}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 1}],
 [{'column_name': 'marital.status', 'sign': '==', 'thresh': 4}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 6}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 6}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 4}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 0}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 5}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 9}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 8}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 26}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 3}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 6}],
 [{'column_name': 'relationship', 'sign': '==', 'thresh': 3}],
 [{'column_name': 'workclass', 'sign': '==', 'thresh': 8}],
 [{'column_name': 'workclass', 'sign': '==', 'thresh': 3}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 13}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 2}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 27}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 13}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 28}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 14}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 4}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 37}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 25}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 29}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 17}],
 [{'column_name': 'native.country', 'sign': '==', 'thresh': 21}]]

<h1> Post Pruning</h1>

In [251]:
def get_rule_list_predictions(rule_list,df):
    y_pred=[]
    for index,row in df.iterrows():
        for rule in rule_list:
            if isRuleSatisfied(rule,row):
                y_pred+=[1]
                break
        else:
            y_pred+=[0]
           
    return y_pred

In [252]:
from sklearn import metrics

In [253]:
post_pruned_rule_list=[]
last_auc_area=0
for rule in tqdm(result_rule_list):
    temp_y_pred=get_rule_list_predictions(post_pruned_rule_list+[rule],true_predictions)
    # print(temp_y_pred)
    # print(true_predictions)
    # print(" pred len:",len(temp_y_pred))
    fpr, tpr, thresholds = metrics.roc_curve(true_predictions[target_column_name],temp_y_pred)
    pres_auc=metrics.auc(fpr,tpr)
    # print("pres auc",pres_auc)
    if(pres_auc-last_auc_area>=0.05):
        post_pruned_rule_list.append(rule)
        last_auc_area=pres_auc

100%|██████████| 102/102 [01:31<00:00,  1.11it/s]

In [254]:
post_pruned_rule_list

[[{'column_name': 'education', 'sign': '==', 'thresh': 10},
  {'column_name': 'occupation', 'sign': '==', 'thresh': 4},
  {'column_name': 'workclass', 'sign': '==', 'thresh': 4},
  {'column_name': 'fnlwgt', 'sign': '>', 'thresh': 12285},
  {'column_name': 'marital.status', 'sign': '==', 'thresh': 2},
  {'column_name': 'race', 'sign': '==', 'thresh': 4},
  {'column_name': 'native.country', 'sign': '==', 'thresh': 39},
  {'column_name': 'relationship', 'sign': '==', 'thresh': 0},
  {'column_name': 'sex', 'sign': '==', 'thresh': 1}],
 [{'column_name': 'workclass', 'sign': '==', 'thresh': 5}],
 [{'column_name': 'education', 'sign': '==', 'thresh': 12}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 4}],
 [{'column_name': 'occupation', 'sign': '==', 'thresh': 10}]]

In [255]:
def check_accuracy_of_rules_for_dataframe(rule_list,df,target_column_name):
    fp=0
    fn=0
    tp=0
    tn=0
    for index,row in df.iterrows():
        for rule in rule_list:
            if isRuleSatisfied(rule,row):
                if row[target_column_name]==1:
                    tp+=1
                else:
                    fp+=1
                break
        else:
            if row[target_column_name]==0:
                tn+=1
            else:
                fn+=1
    return (tp,tn,fp,fn)

In [256]:
(tp,tn,fp,fn)=check_accuracy_of_rules_for_dataframe(post_pruned_rule_list,test_df_final,target_column_name)

In [257]:
print("Accuracy of the rules:",(tp+tn)/(tp+tn+fp+fn))

Accuracy of the rules: 0.7437661220980224

In [258]:
def print_rule_list(rule_list):
    final_res="\n"
    for rules in rule_list:
        res="IF "
        # print("r:",rules[0])
        for i in range(0,len(rules)):
            if i>0:
                res+=" AND "
            res+=rules[i]['column_name']
            res+=" "
            res+=rules[i]['sign']
            res+=" "
            if rules[i]['column_name'] in list_of_catagorical_vars:
                val=rules[i]['thresh']
                cname=rules[i]['column_name']    
                res+=str(encoded_to_orig_dict[cname][val])
            else:
                res+=str(rules[i]['thresh'])
        res+=" THEN OUTCOME IS 1"
        # print("res:",res)
        final_res+="\n"
        final_res+=res
    print(final_res)

In [259]:
print_rule_list(post_pruned_rule_list)

IF education == Doctorate AND occupation == Exec-managerial AND workclass == Private AND fnlwgt > 12285 AND marital.status == Married-civ-spouse AND race == White AND native.country == United-States AND relationship == Husband AND sex == Male THEN OUTCOME IS 1
IF workclass == Self-emp-inc THEN OUTCOME IS 1
IF education == Masters THEN OUTCOME IS 1
IF occupation == Exec-managerial THEN OUTCOME IS 1
IF occupation == Prof-specialty THEN OUTCOME IS 1